@import "tailwindcss";

body {
  font-family: "Smooch Sans", sans-serif;
}
@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-down {
  animation: fadeDown 0.9s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease-out forwards;
}
@keyframes heroFadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-fade {
  animation: heroFadeUp 0.9s ease-out forwards;
}

.hero-fade-delay {
  animation: heroFadeUp 1.2s ease-out forwards;
}

.hero-fade-delay-2 {
  animation: heroFadeUp 1.5s ease-out forwards;
}
.fade-trigger {
  opacity: 0;
  transform: translateY(20px);
}
.fade-trigger.active {
  animation: fadeDown 0.9s ease-out forwards;
}
